PORT=8000
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://darsh_patel:your-password@cluster1.ui6jf8y.mongodb.net
ACCESS_TOKEN_SECRET=CHAIN-OF-RANDOM-CHARACTERS
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=CHAIN-OF-RANDOM-CHARACTERS
REFRESH_TOKEN_EXPIRY=7d

CLOUDINARY_CLOUD_NAME=collection of videos
CLOUDINARY_API_KEY=chain-of-random-characters
CLOUDINARY_API_SECRET=chain-of-random-characters